attrs==20.3.0
google-api-python-client==1.12.8
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-api-core==1.33.2 
ipywidgets==7.7.1
pandas==1.2.2
numpy==1.23.5
Cython==0.29.32
plotly==5.11.0 
jupyter==1.0.0
ipympl==0.9.2
voila==0.3.6
ipykernel==6.17.1
ipython==8.6.0
jupyterlab==3.5.0
jupyterlab-widgets==3.0.3
nbconvert==6.5.4